@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model CoffeeShopMangement.ModelViews.Dashboard


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var ctxOrderCount = document.getElementById('chart-order-count').getContext('2d');
        var chartOrderCount = new Chart(ctxOrderCount, {
            type: 'bar',
            data: {
                labels: @Html.Raw(Json.Serialize(@Model.CountOrders.Select(x => x.Item1.ToString("dd/MM/yyyy")).ToArray())),
                datasets: [{
                    label: 'Số đơn hàng',
                    backgroundColor: '#009c58',
                    borderWidth: 0,
                    data: @Html.Raw(Json.Serialize(@Model.CountOrders.Select(x => x.Item2).ToArray()))
                    },]
            },
            options: {
                legend: {
                    display: false
                },
                scaleShowVerticalLines: false,
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    xAxes: [{
                        categoryPercentage: 0.35,
                        barPercentage: 0.70,
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Month'
                        },
                        gridLines: false,
                        ticks: {
                            display: true,
                            beginAtZero: true,
                            fontSize: 13,
                            padding: 10
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Value'
                        },
                        gridLines: {
                            drawBorder: false,
                            offsetGridLines: false,
                            drawTicks: false,
                            borderDash: [3, 4],
                            zeroLineWidth: 1,
                            zeroLineBorderDash: [3, 4]
                        },
                        ticks: {
                            stepSize: 10,
                            display: true,
                            beginAtZero: true,
                            fontSize: 13,
                            padding: 10
                        }
                    }]
                }
            }
        });
        //revenue chart
        var revenueChartConfig = new Chart(document.getElementById("chart-revenue").getContext('2d'), {
            type: 'line',
            data: {
                labels: @Html.Raw(Json.Serialize(@Model.SumOrders.Select(x => x.Item1.ToString("dd/MM/yyyy")).ToArray())),
                datasets: [{
                    label: 'Doanh số',
                    backgroundColor: 'transparent',
                    borderColor: '#009c58',
                    pointBackgroundColor: '#009c58',
                    pointBorderColor: 'white',
                    pointHoverBackgroundColor: '#85dcff',
                    pointHoverBorderColor: '#85dcff',
                    data: @Html.Raw(Json.Serialize(@Model.SumOrders.Select(x => x.Item2).ToArray()))
                    }]
            },
            options: {
                legend: {
                    display: false
                },
                maintainAspectRatio: false,
                responsive: true,
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                tooltips: {
                    mode: 'index'
                },
                scales: {
                    xAxes: [{
                        gridLines: [{
                            display: false,
                        }],
                        ticks: {
                            display: true,
                            fontColor: 'gray',
                            fontSize: 13,
                            padding: 10
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            drawBorder: false,
                            drawTicks: false,
                            borderDash: [3, 4],
                            zeroLineWidth: 1,
                            zeroLineBorderDash: [3, 4]
                        },
                        ticks: {
                            display: true,
                            stepSize: 10000,
                            fontSize: 13,
                            padding: 10
                        }
                    }],
                }
            }
        });
        //chart products order today
        const chartProductsOrderToday = document.getElementById("chart-products-order-today");
        const chartProductsOrderTodayCtx = chartProductsOrderToday.getContext('2d');
        chartProductsOrderToday.height = 292;
        const chartProductsOrderTodayConfig = new Chart(chartProductsOrderTodayCtx, {
            type: 'doughnut',
            data: {
                labels: @Html.Raw(Json.Serialize(@Model.ProductsOrderToday.Select(x => x.Product.ProductName))),
                datasets: [
                    {
                        fill: true,
                        backgroundColor: @Html.Raw(Json.Serialize(Model.ListColor)),
                        pointBackgroundColor: @Html.Raw(Json.Serialize(Model.ListColor)),
                        data: @Html.Raw(Json.Serialize(@Model.ProductsOrderToday.Select(x => x.Count)))
                        }
                ]
            },
            options: {
                legend: {
                    display: false
                },
                cutoutPercentage: 80,
                maintainAspectRatio: false
            }
        });
    });
</script>
<div class="row">
    <div class="col-lg-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Hôm Nay</p>
                                <h2 class="m-b-0">@Model.DayMonthYear.Today VND</h2>
                            </div>
                            <span class="badge badge-pill @(@Model.DayMonthYear.PercentToday<0?"badge-red":"badge-green") font-size-12">
                                <i class="anticon @(@Model.DayMonthYear.PercentToday<0?"anticon-arrow-down":"anticon-arrow-up")"></i>
                                <span class="font-weight-semibold m-l-5">@Model.DayMonthYear.PercentToday %</span>
                            </span>
                        </div>
                        <div class="m-2"></div>
                        <div>
                            <p class="m-b-0 text-muted">Hôm Qua</p>
                            <h5 class="m-b-0">@Model.DayMonthYear.Yesterday VND</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tháng</p>
                                <h2 class="m-b-0">@Model.DayMonthYear.Month VND</h2>
                            </div>
                            <span class="badge badge-pill @(@Model.DayMonthYear.PercentMonth<0?"badge-red":"badge-green") font-size-12">
                                <i class="anticon @(@Model.DayMonthYear.PercentMonth<0?"anticon-arrow-down":"anticon-arrow-up")"></i>
                                <span class="font-weight-semibold m-l-5">@Model.DayMonthYear.PercentMonth %</span>
                            </span>
                        </div>
                        <div class="m-2"></div>
                        <div>
                            <p class="m-b-0 text-muted">Tháng Trước</p>
                            <h5 class="m-b-0">@Model.DayMonthYear.PreviousMonth VND</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Năm</p>
                                <h2 class="m-b-0">@Model.DayMonthYear.Year VND</h2>
                            </div>
                            <span class="badge badge-pill @(@Model.DayMonthYear.PercentYear<0?"badge-red":"badge-green") font-size-12">
                                <i class="anticon @(@Model.DayMonthYear.PercentYear<0?"anticon-arrow-down":"anticon-arrow-up")"></i>
                                <span class="font-weight-semibold m-l-5">@Model.DayMonthYear.PercentYear %</span>
                            </span>
                        </div>
                        <div class="m-2"></div>
                        <div>
                            <p class="m-b-0 text-muted">Năm Trước</p>
                            <h5 class="m-b-0">@Model.DayMonthYear.PreviousYear VND</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <p class="m-b-0 text-muted">Tổng</p>
                                <h2 class="m-b-0">@Model.DayMonthYear.Total VND</h2>
                                <h5 class="m-b-0"></h5>
                            </div>
                            <span class="badge badge-pill badge-gold font-size-12">
                                <i class="anticon anticon-arrow-up"></i>
                                <span class="font-weight-semibold m-l-5">N/A</span>
                            </span>
                        </div>
                        <div class="m-3"></div>
                        <div>
                            </br>
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30">
                    <h5>Số Đơn Hàng Trong 6 Ngày</h5>
                </div>
                <div class="m-t-50">
                    <canvas class="chart" style="height: 205px" id="chart-order-count"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Doanh Số Trong 6 Ngày</h5>
                </div>
                <div class="m-t-30">
                    <div class="d-md-flex">
                        <div class="pr-4 m-v-10 border-right border-hide-md">
                            <p class="m-b-0">Tổng Doanh Số Trong 6 Ngày</p>
                            <h3 class="m-b-0">
                                <span>@Model.SumOrders.Select(x => x.Item2).Sum() VND</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-t-50" style="height: 240px">
                    <canvas class="chart" id="chart-revenue"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Mặt Hàng Bán Chạy</h5>
                    <div>
                        <a href="/Admin/AdminProducts" class="btn btn-sm btn-default">Xem Tất Cả</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <ul class="list-group list-group-flush">
                        @if (Model != null)
                        {
                            foreach (var item in Model.BestSeller)
                            {
                                <li class="list-group-item p-h-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex">
                                            <div class="avatar avatar-image m-r-15">
                                                <img src="~/Adminassets/images/others/thumb-9.jpg" alt="">
                                            </div>
                                            <div>
                                                <h6 class="m-b-0">
                                                    <a href="javascript:void(0);" class="text-dark">@item.Product.ProductName</a>
                                                </h6>
                                                <span class="text-muted font-size-13">@item.Product.Price VND</span>
                                            </div>
                                        </div>
                                        <span class="badge badge-pill badge-cyan font-size-12">
                                            <span class="font-weight-semibold m-l-5">@item.Count</span>
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5>Mặt Hàng Đã Bán Hôm Nay</h5>
                <div class="m-v-45 text-center" style="height: 220px">
                    <canvas class="chart" id="chart-products-order-today"></canvas>
                </div>
                <div class="row p-t-25">
                    <div class="col-md-8 m-h-auto">
                        @if (Model != null)
                        {
                            for (int i = 0; i < Model.ProductsOrderToday.Count; i++)
                            {
                                var item = Model.ProductsOrderToday[i];
                                <div class="d-flex justify-content-between align-items-center m-b-20">
                                    <p class="m-b-0 d-flex align-items-center">
                                        <span class="badge badge-dot m-r-10" style="background-color: @Model.ListColor[i]"></span>
                                        <span>@item.Product.ProductName</span>
                                    </p>
                                    <h5 class="m-b-0">@item.Count</h5>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>Đơn Hàng Gần Đây</h5>
                    <div>
                        <a href="/Admin/AdminOrders" class="btn btn-sm btn-default">Xem Tất Cả</a>
                    </div>
                </div>
                <div class="m-t-30">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Mã Đơn</th>
                                    <th>Khách Hàng</th>
                                    <th>Ngày</th>
                                    <th>Đơn Giá</th>
                                    <th>Trạng Thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.RecentOrder)
                                    {
                                        <tr>
                                            <td>#@item.OrderId</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-image" style="height: 30px; min-width: 30px; max-width:30px">
                                                            <img src="~/Adminassets/images/avatars/thumb-1.jpg" alt="">
                                                        </div>
                                                        <h6 class="m-l-10 m-b-0">@item.Customer.FullName</h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.OrderDate</td>
                                            <td>@item.TotalMoney VND</td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge @(item.TransactStatusId == 1 ? "badge-warning":"badge-primary") badge-dot m-r-10"></span>
                                                    <span>@item.TransactStatus.Status</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
